<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="this.addSection.emit()"
      >
        Add Section
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="this.addSubSection.emit()"
      >
        Add Sub-section
      </button>
    </li>
  </ul>
</nav>
