<section class="sub-section">
  <h6>{{ subSection.title }}</h6>
  <div class="row form-fields">
    <div class="col-md-3" *ngFor="let field of subSection.formFields">
      <label for="{{ field.title }}">{{ field.title }}</label>
      <input class="form-control" type="text" id="{{ field.title }}" />
    </div>
  </div>
</section>
