<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-header
        (addSection)="addSection()"
        (addSubSection)="addSubSection()"
      ></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar
        [sections]="sections"
        [selectedSection]="selectedSection"
        (selectSection)="selectSection($event)"
      ></app-sidebar>
    </div>
    <div class="col-md-10">
      <app-main-content
        [section]="selectedSection || sections[0]"
      ></app-main-content>
    </div>
  </div>
</div>
