<ul class="nav flex-column">
  <li
    class="nav-item"
    *ngFor="let section of sections"
    [ngClass]="section.id === selectedSection.id ? 'Active' : ''"
  >
    <a class="nav-link" (click)="this.selectSection.emit(section)"
      >{{ section.title }}
    </a>
  </li>
</ul>
