.section {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  .form-fields {
    padding: 1rem 0;
    div {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      label {
        flex: 1;
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 0;
        margin-right: 0.5rem;
        cursor: pointer;
      }
      input {
        flex: 3;
      }
    }
  }
}
