<section class="section">
  <h5>{{ section.title }}</h5>
  <div class="row form-fields">
    <div class="col-md-3" *ngFor="let field of section.formFields">
      <label for="{{ field.title }}">{{ field.title }}</label>
      <input class="form-control" type="text" id="{{ field.title }}" />
    </div>
  </div>
  <div class="sub-sections">
    <app-sub-section
      *ngFor="let subSection of section.subSections"
      [subSection]="subSection"
    ></app-sub-section>
  </div>
</section>
